<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twitter.twitterDataDao.TwitterDataDao">
    <insert id="insertTwitterUser" parameterType="com.twitter.pojo.TwitterUser">
        replace into user
        (name,username,user_id,rest_id,created_at,birthday,description,friends_count,followers_count,location,display_url)
        values(#{name},#{username},#{user_id},#{rest_id},#{created_at},#{birthday},#{description},#{friends_count},#{followers_count},#{location},#{display_url})
    </insert>
    <insert id="insertTweet" parameterType="com.twitter.pojo.Tweet">
        insert ignore into tweet
        (name,username,user_id,created_at,full_text,tweet_id,tweet_media_urls,tweet_hashtags,tweet_urls,tweet_type,quoted_tweet_id,status)
        values
        (#{name},#{username},#{user_id},#{created_at},#{full_text},#{tweet_id},#{tweet_media_urls},#{tweet_hashtags},#{tweet_urls},#{tweet_type},#{quoted_tweet_id},#{status})
    </insert>
    <insert id="insertTweets">
        insert ignore into tweet
        (name,username,user_id,created_at,full_text,tweet_id,tweet_media_urls,tweet_hashtags,tweet_urls,tweet_type,quoted_tweet_id,status)
        values
        <foreach collection="list" item="Tweet" separator=",">
            (#{Tweet.name},#{Tweet.username},#{Tweet.user_id},#{Tweet.created_at},#{Tweet.full_text},#{Tweet.tweet_id},#{Tweet.tweet_media_urls},#{Tweet.tweet_hashtags},#{Tweet.tweet_urls},#{Tweet.tweet_type},#{Tweet.quoted_tweet_id},#{Tweet.status})
        </foreach>
    </insert>
    <select id="queryImgUrlsByUsername" resultType="java.lang.String">
        select tweet.tweet_media_urls from tweet where username = #{username}
    </select>
    <select id="queryUserIdByUsername" resultType="java.lang.String">
        select user_id from user where username = #{username}
    </select>
    <select id="queryRestIdByUsername" resultType="java.lang.String">
        select rest_id from user where username = #{username}
    </select>
</mapper>