<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.FakerDataDao">
    <insert id="insertPerson" parameterType="FakerData.pojo.Person">
        insert ignore into person
        (last_name,first_name,city,birth_date,gender,phone,email)
        values(#{last_name},#{first_name},#{city},#{birth_date},#{gender},#{phone},#{email})
    </insert>
    <insert id="insertPersons" >
        insert ignore into person
        (last_name,first_name,city,birth_date,gender,phone,email)
        values
        <foreach collection="list" item="person" separator=",">
            (#{person.last_name},#{person.first_name},#{person.city},#{person.birth_date},#{person.gender},#{person.phone},#{person.email})
        </foreach>
    </insert>
</mapper>